{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>About Trackdemic</h1>
    <p>Trackdemic is a simple academic tracking web application designed to help students
    log their daily learning activities, monitor progress, and view leaderboards to see who's on top.</p>
    <p>The platform features:</p>
    <ul>
        <li>Add or remove and view personal study logs</li>
        <li>Track performance over time</li>
        <li>Compare with classmates via leaderboard</li>
        <li>Simple and Easy.</li>
    </ul>
    <p>This project was developed to help students monitor their whole Academic Expierience.</p>
</div>
{% endblock %}
